.MuiFormControlLabel-label {
  color: black !important;
}

.MuiFormGroup-root {
  flex-direction: column !important;
  height: auto;
  white-space: normal;
}

legend.MuiFormLabel-root {
  display: none;
}

textarea {
  resize: vertical !important;
}

/* Target descriptions in JSONForms */

